/* ========================================================== */
/* top bar - contains the high score, timer, and main title/header elements */
/* ========================================================== */
.top {
    max-width: 95%;
    width: 95%;
}

#high-scores {
    text-align: start;
}

#timer {
    text-align: end;
}

h1 {
    text-align: center;
}

/* ========================================================== */
/* screen elements - contains the id tags for start-screen, quiz-screen, end-screen, and high-score-screen */
/* ========================================================== */
#start-screen {
    background-color: white;
    box-shadow: 5px 5px 5px lightgray;
}

#quiz-screen {
    background-color: white;
    box-shadow: 5px 5px 5px lightgray;
}

#end-screen {
    background-color: white;
    box-shadow: 5px 5px 5px lightgray;
}

#high-score-screen {
    background-color: white;
    box-shadow: 5px 5px 5px lightgray;
}
/* ========================================================== */
/* start screen elements */
/* ========================================================== */
#start-button {
    background-color: silver;
    text-align: center;
    width: 20%;
    margin-left: 40% !important;
}

.welcome {
    width: 95%;
}

/* also used in end screen */
h2 {
    text-align: center;
}

/* ========================================================== */
/* quiz screen elements */
/* ========================================================== */
.question-title {
    font-size: 32px;
    font-weight: bold;
}

#question {
    font-size: 24px;
}

.answer {
    font-size: 18px;
    width: 100%;
    margin: 3% 0 3% 0;
    text-align: left;
    padding: 15px;
}

/* ========================================================== */
/* end screen elements */
/* ========================================================== */
#submit-button {
    background-color: silver;
    width: 20%;
    margin-left: 40% !important;
}

#initials-input {
    width: 50%;
    margin-left: 25% !important;
}

#final-score-message {
    text-align: center;
    font-size: 24px;
}

/* ========================================================== */
/* high score screen elements */
/* ========================================================== */
.high-score-entry {
    text-align: center;
    font-size: 24px;
}

#close-button {
    background-color: silver;
    width: 20%;
    margin-left: 40% !important;
}

#clear-button {
    background-color: silver;
    width: 20%;
    margin-left: 40% !important;
}

/* ========================================================== */
/* hide and show classes are used to switch between start screen, quiz screen, end screen, and high score screen */
/* ========================================================== */
.hide {
    display: none;
}

.show {
    display: block;
}
 
/* ========================================================== */
/* other formatting */
/* ========================================================== */
body {
    background-color: whitesmoke;
}