/* header elements */

.top {
    width: 95%;
}

#timer {
    text-align: center;
}

h1 {
    text-align: center;
}

#high-scores-button {
    background-color: silver;
    width: 50%;
}

/* screen elements - contains the id tags for start-screen, quiz-screen, end-screen, and high-score-screen */

#start-screen {
    background-color: white;
    box-shadow: 5px 5px 5px lightgray;
    margin-top: 10%;
}

#quiz-screen {
    background-color: white;
    box-shadow: 5px 5px 5px lightgray;
    margin-top: 0;
}

#end-screen {
    background-color: white;
    box-shadow: 5px 5px 5px lightgray;
    margin-top: 7.5%;
}

#high-score-screen {
    background-color: white;
    box-shadow: 5px 5px 5px lightgray;
    margin-top: 7.5%;
}

/* start screen elements */

#start-button {
    background-color: silver;
    text-align: center;
    width: 20%;
    margin-left: 40% !important;
}

.welcome {
    width: 95%;
}

/* also used in end screen */
h2 {
    text-align: center;
}


/* quiz screen elements */

.question-title {
    font-size: 32px;
    font-weight: bold;
}

#question {
    font-size: 24px;
}

.answer-button {
    font-size: 18px;
    width: 95%;
    margin: 2% 0 2% 0;
    text-align: left;
    padding: 1.5%;
}

/* end screen elements */

#submit-button {
    background-color: silver;
    width: 20%;
    margin-left: 40% !important;
}

#initials-input {
    width: 50%;
    margin-left: 25% !important;
    text-align: center;
}

#final-score-message {
    text-align: center;
    font-size: 24px;
}

/* high score screen elements */

.high-score-entry {
    text-align: center;
    font-size: 24px;
}

#close-button {
    background-color: silver;
    width: 20%;
}

#clear-button {
    background-color: silver;
    width: 20%;
}


/* hide and show classes are used to switch between start screen, quiz screen, end screen, and high score screen */

.hide {
    display: none;
}

.show {
    display: block;
}
 
/* other formatting */

body {
    background-color: whitesmoke;
}